# Arquivos de cache e compilação
__pycache__/
*.pyc

# Ambiente virtual
venv/

# Arquivos de configuração local
.vscode/
.idea/

# Arquivos de configuração sensíveis
.env
# Ignorar arquivos de credenciais
gemini-api-453021-40c16f59f05d.json
*.env
